<div class="Main">
  <div class="Half">
    <div class="images">
      <img src="assets/SignIn.png" class="Images" *ngIf="isSignIn" alt="SignIn">
      <img src="assets/SignUp.png" class="Images" *ngIf="!isSignIn" alt="SignUp">
    </div>
  </div>
  <img src="assets/Line.png" alt="Line" class="divider">
  <div class="Half">
    <app-signin *ngIf="isSignIn"></app-signin>
    <app-signup *ngIf="!isSignIn"></app-signup>
    <div class="tag">
      <p>Goto <a href="#">Kaar Technology</a></p>
      <p class="tags help">Help</p>
      <p class="tags privacy">Privacy</p>
      <p class="tags terms">Terms</p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>